
.banner {
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

body{
    background:linear-gradient(to top left, rgb(170, 213, 240),white) no-repeat;
    color:#1e1e2c;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 30px;   
    padding: 2px;
    margin-left: 10px;
}
.img {
    height: 38px;
    width: 120px;
    border-radius: 5px;

}

.title{

    min-width: 285px;
    font-size: 28px;
    font-family:"Courier New";
    font-weight: bolder;
    display: flex;
    flex-direction: row;

}

.login-cart {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    
    

}



.login-cart .fas, .login-cart .far {
    color: #1e1e2c; 
    transition: 0.5s;
}

.fa-customize{
    font-size: 30px;
}



.login-cart .fas:hover, .login-cart .far:hover {
    color:white;
    transition: 0.5s;
    
}

#user{
    margin-top:5px;
}

header{
    height:5%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
   

}



ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    margin-right: 40px;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 23px;
    
    font-family: "Courier New";
    font-weight:400;
    
}

ul li a {
    text-decoration: none;
    color: #1e1e2c;
    width: auto;
    border-radius: 10px;
    padding:5px;
    transition: .5s;
}




ul li a:hover{

    background-color: #2d2d44;
    color: white;
    transition: .5s;
}

.hrtest{
    display: none;
}

#active {
  border-bottom: 3px solid #2d2d44;
}

.slides{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:600px;
    


}

#slides-pics{
    width: 60%;
    background-position:inherit;
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size:contain;
    background-origin: border-box;
    display: flex;
    height: 90%;

    

}


.slider-text{
    width: 40%;
    font-size: 60px;
    align-self:center;
    text-align: center;
    font-family: 'Courier New';
    font-weight: bolder;
    color:#2d2d44;
    
    
}

#slider-text{
    font-size: 30px;
    font-weight:100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#slider {
    width: 80%;

}

    .tekst {
        font-size: 28px;
        margin: 30px 0px 20px 74px;
        font-weight: bold;
        font-family:"calibri";
        text-decoration: underline;
        
        
    
    }
    hr{
        height: 1px;
        background-color: #2d2d44;
    }

    .boxes {
        display: flex;
        flex-direction: row;
        height: auto;
        margin:10px;
        margin-top: -10px;
        padding: 10px 0px 10px 0px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }


   
    .box {
        height: 370px;
        width: 310px;
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        justify-content: space-between;
        padding-right:40px;
        padding-left: 10px;
        padding: 20px 40px 20px 10px;
        align-items: center;
		transition: .4s ease;
        
       
        
    }
    .box img {
        width: 95%;
        height: 73%;
        cursor: pointer;    
        object-fit:contain;
        align-self: center;
        box-shadow: 1px 1px 3px 3px #6399bb;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 30px #7ebadf;
        position: relative;
        

    }

    .box img:hover {
        width: 100%;
        height: 75%;
        cursor: pointer; 
		transition: .4s ease;

    }
    

    .testdiv{
        height: 280px;
        width: 300px;
        border: 3px solid red;
        position:absolute;
       filter: opacity(0);
        
       
    }

    .emri-cmimi {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        
        
       


    }
  

    .name{
        font-size: 20px;
        font-weight: bold;
        font-family: calibri;
        
    }
    .price {
        font-weight: bold;
        color: gray;
        font-family: calibri;
        margin-top: -6%;
    }

    .product-desc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        align-self: center;
        

       
    }

    .buy-button{
        height:40px;
        width: 80px;
        border-radius: 5px;
        background-color:#2d2d44;
        color: white;
        border: 2px solid #2d2d44;
        outline: none;
        cursor: pointer;
		transition: .4s ease;
        font-family: calibri;
       
    }
    .buy-button:hover{
        color:black;
        background-color: transparent;
		border: 2px solid #2d2d44;
		transition: .4s ease;
        box-shadow: 1px 1px 5px 5px #6399bb;
    }

    #about{
        height: 500px;
        width: 99%;
        margin-left:5px;
        align-self: center;
        transition: .5s;
        font-family: 'Calibri';
        padding-top: 10px;
        padding-bottom: 30px;
        
    }

    #about .title{
        font-size: 25px;
        margin:20px 0px 20px 74px;
        font-weight: bold;
        font-family:"Arial";
        
    }

   .about-description {
        height: 90%;
        width:  99%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }


    .about-description .tekst-about
    {
       
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

       
    }

    .description-img
    {
        height: 90%;
        width: 40%;
        background-image: url(images/aboutphoto.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }


    footer{
        width: 100%;
        height: 280px;
        background-color: #1e1e2c;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        flex-wrap: wrap;
        

        
    }

    .footer-box{
      
        width: 30%;
        height: 75%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      

      
      
    }
    .email-submit{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 20%;
        align-items: center;
        justify-content: space-around;
        color:black;
      

        
    }

    #contact-email{
        background-color: white;
        width: 70%;
        margin: 0;
        color:black;
        border: none;
       
    }

    #submit-email-button{
        border-radius:10px;
        height: 80%;
        border: 2px solid #2d2d44;
        cursor: pointer;
        color:black;
        background-color: white;

    }

    textarea{
        resize: none;
    }
    .footer-box h1{
        font-size: 90%;
        
    }

    .footer-box h3{
        color: white;
        cursor: pointer;
        font-size:70%;
        
    }

    .footer-box h2{
        font-size: 80%;
        
    }
    
    .footer-box a{
        text-decoration:none;
    }
    
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
        
       
    }

    .socials img{
        height: 30px;
        width: 30px;
    }
    .partners{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%; 
    }

    .partners img{
     
        height: 30px;
        width: 30px;
       
    }

    .copyright{
        width: 100%;
        height:40px;
       font-size: 16px;
       display: flex;
       align-items: center;
       justify-content: center;
       font-family: 'Courier New';
       font-weight: bold;
    }

    .signupform {
       
        border: 5px solid #2d2d44;
        border-radius: 5px;
        height: 430px;
        width:400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 50px;
        margin-top:15px;
        margin-bottom: 10px;
        padding-top: 30px;
        margin-left: 33%;
        align-self: center;
      
      
        
    }
  
    .loginform {
        border: 5px solid #2d2d44;
        border-radius: 5px;
        height: 300px;
        width:400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 50px;
        margin-top:15px;
        margin-bottom: 10px;
        padding-top: 30px;
        margin-left: 33%;
        align-self: center;
    
        
      
    }

    #login-items{
       
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
        align-self: center;
        width:100%;
      
    }
    .already-acc{
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .no-acc{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 70%;
        margin-left: 20%;
        align-items: center;    
        flex-wrap: wrap;
    }

    #gotosignup{
        background-color: #2d2d44;
        color: white;
        height: 30px;
        width: 70px;
        outline: none;
        border: 3px solid #2d2d44;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        transition: .5s;
        text-align: center;
      
        

    }

    #gotosignup:hover{
        background-color: white;
        border: 3px solid #2d2d44;
        color: #2d2d44;
        transition: .5s;
    
    }
    label{
        margin-top: -10px;
        margin-left: 10%;
        color: red;
        font-size: 12px;
        font-style: italic;
    }


   #register{
        background-color: #2d2d44;
        color: white;
        height: 30px;
        width: 70px;
        outline: none;
        border: 3px solid #2d2d44;
        border-radius: 10px;
        align-self: center;
        font-weight: bold;
   
        cursor: pointer;
        transition: .5s;
    }

    #register:hover{
        background-color: white;
        border: 3px solid #2d2d44;
        color: #2d2d44;
        transition: .5s;
    }
   

    #login{
        background-color: #2d2d44;
        color: white;
        height: 30px;
        width: 70px;
        outline: none;
        border: 3px solid #2d2d44;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        transition: .5s;
    }

    #login:hover{
        background-color: white;
        border: 3px solid #2d2d44;
        color: #2d2d44;
        transition: .5s;
    
}
    #gotologin{
    color: #2d2d44;
    
        
    }
    .already-acc a{
        text-decoration-color: #2d2d44;
    }
    
 
   

    #logo-form{
        width: 20%;
        padding:4px;
        margin-top: -30%;
       margin-bottom: 5px;
    }
    
    
    
    input[type="text"]{
        width: 60%;
        border:none;
        height: 30px;
        border-bottom: 3px solid black;
        margin-left:40px;
        outline: none;
    border-radius: 5px;
       background: none;
       color:black;
        
    }

    input[type="email"]{
        width: 60%;
        border:none;
        height: 30px;
        border-bottom: 3px solid black;
        margin-left:40px;
        outline: none;
        border-radius: 5px;
        background: none;
        color:black;
        
    }
    input[type="password"]{
        width: 60%;
        border:none;
        height: 30px;
        border-bottom: 3px solid black;
        margin-left:40px;
        outline: none;
        border-radius: 5px;
        background: none;
        color:black;
    }
    input[type="number"]{
        width: 60%;
        border:none;
        height: 30px;
        border-bottom: 3px solid black;
        margin-left:40px;
        outline: none;
        border-radius: 5px;
        background: none;
        color:black;
    }
        

    input[type="text"]::placeholder{
        color: black;
    }
    input[type="email"]::placeholder{
        color: black;
    }
    input[type="password"]::placeholder{
        color: black;
    }
    input[type="number"]::placeholder{
        color: black;
    }

    
   
    @media screen and (max-width:800px) {

        .banner{
            display:flex;
            flex-direction: column;
            margin-left: 15%;
            margin-bottom: 5%;
    
        }
        .logo img {
            margin-bottom: 5%;
        }
        .title {
            height: 20px;
            width: 40px;
            font-size: 15px;
            justify-content: center;
            align-items: center;
            margin-bottom: 5%;
            display: none;
            
        }
    .login-cart {
       
        
        height: 100px;
        width: 300px !important;
        margin-bottom: 2%;
        justify-content: space-between;
        margin-left:-18%;
    }

       
        .navigation {
                display:flex;
                flex-direction: column;
                width: auto;
            }
        
            header {
                display: flex;
                flex-direction: column;
                
            }
        
            ul {
                display: flex;
                flex-direction: column;
                padding-bottom: 3px;
                
                height: 200px;
                
               
            }

            .hrtest{
                display: flex;
            }
            ul li a {
                padding: 1px;
                border-radius: 0px;
            }
            .slides {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items:center;
                width: 85%;
                height: 300px;
                margin-left: 8%;
                align-self: center;
                
            }
            
           #slides-pics {
                width: 60%;
                height: 80%;
                left:25%;
         
            
              
              
            }

            .products .tekst{
                margin-left: 50% !important;
            }
            
            
            #formsignup{
                height: 150%;
                width: 40%;
                flex-direction: space-between;
            }

            .slider-text{
                margin-left: 5%;
                font-size: 30px;
            }
            #slider-text{
                font-size:25px;
            }

            footer{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                font-size: 10px;
            }
            .footer-box{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }


            .socials img {
                height: 40%;
                width:70%;
                align-self: center;
            }
            .socials{
                
                align-self: center;
                display: flex;
                margin-left: -22%;
            }
            

            footer h1 .socialmedia{
                margin-left: -20%;
                font-size: 5px;
            }
            footer h2{
                margin-left: -25%;
                font-size:5px;
            }
            .partners{
                margin-left: -20%;
            }

            .partners img {
                height: 40%;
                width:70%;
            }
            .copyright{
                font-size: 70%;
            }
            
            #about .title{
               margin-left:25%;
               
            }
            #about {
                font-size: 10px;
            }

            textarea{

             width: 80%;
            }
        }

